html, body{
    
    font-size: 62,5%;
    font-family: sans-serif;
    width: 100vw;
    padding: 0;

}

body{
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

.navegacao{
    width: 12rem;
    background-color: rgba(14, 13, 13, 0.712);
    display: flex;
    flex-direction: column;
}