html, body{
    
    font-size: 62,5%;
    font-family: sans-serif;
    width: 100vw;
    padding: 0;

}

body{
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

.navegacao{
    width: 14rem;
    background-color: rgba(14, 13, 13, 0.712);
    display: flex;
    flex-direction: column;
}

.container__foto{
    width:80%;
    height:8rem;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
    margin:0 auto;
}

.foto{
    width:5rem;
    height: 5rem;
    border-radius: 50%;
}

nav{
   width:80%;
   margin:0 auto
}

ul{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.links{
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-bottom: 1px solid white;
    text-decoration: none;
    text-align:end;
    
}

a{
    color:antiquewhite;
    text-decoration: none;
    text-transform: capitalize;
}

.links:hover{
    
    background-color:rgba(0, 0, 0, 0.09);
    border-bottom:1px solid transparent;
    
}