html, body{
    
    font-size: 62,5%;
    font-family: sans-serif;
    width: 100vw;
    padding: 0;

}

body{
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

.navegacao{
    width: 14rem;
    background-color: rgba(14, 13, 13, 0.712);
    display: flex;
    flex-direction: column;
}

.container__foto{
    width:80%;
    height:8rem;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
    margin:0 auto;
}

.foto{
    width:5rem;
    height: 5rem;
    border-radius: 50%;
}

nav{
   width:80%;
   margin:0 auto
}

ul{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.links{
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-bottom: 1px solid white;
    text-decoration: none;
    text-align:end;
    
}

a{
    color:antiquewhite;
    text-decoration: none;
    text-transform: capitalize;
}

.links:hover{
    
    background-color:rgba(0, 0, 0, 0.09);
    border-bottom:1px solid transparent;
    
}

main{
   
    flex: 1;
    padding:5rem 0 0 3rem ;
    
    background-color: rgb(83, 78, 72,.5);
}

main h1{
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.39);
    margin-bottom: 3rem;
}

.primeiro__paragrafo{
    font-size: 1.6rem;
    color: orangered;
    font-weight: 700;
    margin:0;
    padding: 0;
}

.segundo__paragrafo{
    color: orangered;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    padding: 0;
    font-weight: 600;
}

.terceiro__paragrafo{
    color: #d4d3d3;
    margin-bottom: 2rem;
}

.cards__links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 3rem;
    width: 40rem;
}

.container__link{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:.4rem;
    width: 6.5rem;
    
}

.container__link p{
    text-transform: capitalize;
}

.icones{
    height: 1.5rem;
    width: 1.5rem;
}







